.idea/
*.log

node_modules/

*.png
*.jpg
*.svg

launch_project_a
doc/

dist/

api/assets/json/config.json
api/assets/json/pwd.json
!/appweb/src/assets/logo.png
!/appweb/src/assets/lazy/logo.png
/auth/
/appweb/src/config/index.js
