<div class="menu" id="main">
    <div class="button" onclick="create_menu()" style="background-color: #8185ff;">
        Créer
    </div>
    <div class="button" onclick="show_menu()" style="background-color: #77ff77;">
        Afficher
    </div>
    <div class="button" onclick="affect_menu()" style="background-color: #ffac50;">
        Affecter
    </div>
</div>
<%- include menu/create.ejs %>
<%- include menu/show.ejs %>
<%- include menu/affect.ejs %>
<script src="/js/header.js"></script>