<!DOCTYPE html>
<head>
    <%- include head.ejs %>
</head>
<body>
    <%- include header.ejs %>
    <div class="container" onclick="on_click_container()">
        <%- include dashboard.ejs %>
    </div>
</body>