<div class="menu" id="affect">
    <div class="button" onclick="affect_by_task()">
        By task
    </div>
    <div class="button" onclick="affect_by_user()">
        By user
    </div>
    <div class="button" onclick="affect_by_equipment()">
        By equipment
    </div>
</div>
<script src="js/menu/affect.js"></script>