<div class="menu" id="create">
    <div class="button" onclick="create_task()">
        Task
    </div>
    <div class="button" onclick="create_activity()">
        Activity
    </div>
    <div class="button" onclick="create_event()">
        Event
    </div>
    <div class="button" onclick="create_location()">
        Location
    </div>
    <div class="button" onclick="create_equipment()">
        Equipment
    </div>
</div>
<script src="js/menu/create.js"></script>