<div class="menu" id="show">
    <div class="button" onclick="show_tasks()">
        Tasks
    </div>
    <div class="button" onclick="show_activities()">
        Activities
    </div>
    <div class="button" onclick="show_events()">
        Events
    </div>
    <div class="button" onclick="show_locations()">
        Locations
    </div>
    <div class="button" onclick="show_equipments()">
        Equipments
    </div>
    <div class="button" onclick="show_users()">
        Users
    </div>
    <div class="button" onclick="show_shifts()">
        Shifts
    </div>
</div>
<script src="js/menu/show.js"></script>