<!DOCTYPE html>
<head>
    <%- include ../head.ejs %>
</head>
<body>
<%- include ../header.ejs %>
<div class="container" onclick="on_click_container()" id="app">
    <div class="form">
        <div class="name">
            <div class="label">Name</div>
            <input type="text" name="name" placeholder="The name of this beautiful (I hope) event" v-model="name"/>
        </div>
        <div class="dates">
            <div class="date">
                <div class="label">Starting date</div>
                <vue-ctk-date-time-picker v-model="start_date" label="" locale="fr" only-date :minute-interval="30"></vue-ctk-date-time-picker>
            </div>
            <div class="date">
                <div class="label">Ending date</div>
                <vue-ctk-date-time-picker v-model="end_date" label="" locale="fr" only-date :minute-interval="30"></vue-ctk-date-time-picker>
            </div>
        </div>
        <div class="description">
            <div class="label">Description</div>
            <textarea name="description" class="description" placeholder="The best description of all times" v-model="description">
        </textarea>
        </div>
        <div class="submit">
            <div class="button" style="width: 20%;" v-on:click="submit">
                Submit
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.umd.js" charset="utf-8"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/js/create/event.js"></script>
</body>