<!DOCTYPE html>
<head>
    <%- include ../head.ejs %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@desislavsd/vue-select/dist/vue-select.css">
    <link href="/css/create/task.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<%- include ../header.ejs %>
<div class="container" onclick="on_click_container()" id="app">
    <div class="form">
        <div class="form_title">Task</div>
        <div class="name">
            <div class="label">Name</div>
            <input type="text" name="name" placeholder="The name of this beautiful (I hope) task" v-model="name"/>
        </div>
        <div class="supervisor_activity">
            <div class="supervisor">
                <div class="label">Supervisor</div>
                <v-select v-model="supervisor" as="name::id" :from="users"></v-select>
            </div>
            <div class="activity">
                <div class="label">Activity</div>
                <v-select v-model="activity" as="name::id" :from="activities"></v-select>
            </div>
        </div>
        <div class="location_team">
            <div class="location">
                <div class="label">Location</div>
                <v-select v-model="location" as="name::id" :from="locations"></v-select>
            </div>
            <div class="team">
                <div class="label">Team</div>
                <v-select v-model="team" as="name::id" :from="teams"></v-select>
            </div>
        </div>
        <div class="dates">
            <div class="date">
                <div class="label">Starting date</div>
                <vue-ctk-date-time-picker v-model="start_date" label="" locale="fr" :minute-interval="15"></vue-ctk-date-time-picker>
            </div>
            <div class="date">
                <div class="label">Ending date</div>
                <vue-ctk-date-time-picker v-model="end_date" label="" locale="fr" :minute-interval="15"></vue-ctk-date-time-picker>
            </div>
        </div>
        <div class="description">
            <div class="label">Description</div>
            <textarea name="description" class="description" placeholder="The best description of all times" v-model="description">
        </textarea>
        </div>
        <div class="submit">
            <div class="button" style="width: 20%;" v-on:click="submit">
                Submit
            </div>
        </div>
    </div>
</div>
<script src="/js/global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.umd.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@desislavsd/vue-select"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/js/create/task.js"></script>
</body>